@page "/"
@inherits IndexBase


@* Header *@
<div class="main shadow p-3 mb-3 bg-white rounded">
    <div class="d-flex top-row">
        <div class="p-2">
            <h2>
                MASEP Registration Form
            </h2>
            <h8>Data from MASEP participants is used for research purposes ONLY.</h8><br />
            <h8>Your personal information is NEVER shared with any individuals or agencies outside MASEP.</h8>
        </div>
        <div class="ml-auto" style="margin-top:auto;">
            <a href="/login" target="_self">Logout</a>
        </div>
    </div>
</div>

@* Obs *@
<EditForm class="form-group" Model="@newObs" OnValidSubmit="SaveData">
    <div class="container">
        <div>
            <ComponentContextRB Caption="Gender" items="@gender" respChanged="SelectionChanged"></ComponentContextRB>
        </div>
        <div>
            <ComponentDD Caption="Race" items="@race" respChanged="SelectionChanged"></ComponentDD>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>

</EditForm>
