@page "/logout"
@inject AuthenticationStateProvider _auth

<h1>Thank you for submitting the assessment!</h1>

@code { 
    
    protected override void OnInitialized()
    {
        ((AuthStateProvider)_auth).LogoutUser();
        //base.OnInitialized();
    }
}