@page "/logout"
@inject AuthenticationStateProvider _auth

<div class="container">
    <h3>Your assessment has been submitted. Feedback will be provided during Session 3.</h3>
</div>


@code { 
    
    protected override void OnInitialized()
    {
        ((AuthStateProvider)_auth).LogoutUser();
    }
}