@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

@*<div class="main">
        <div class="top-row px-4">
            <a href="/" target="_self">MASEP Registration Form</a>
            <a href="/login" target="_self">Logout</a>
        </div>

        <div class="content px-4 container">
            @Body
        </div>
    </div>*@

    <div class="container">
        @Body
    </div>